<!doctype html>
<html class="no-js" lang="en">
@{
    @using Microsoft.AspNetCore.Http;
    @inject IHttpContextAccessor HttpContextAccessor;
    @using System.Text.Json;

    long LangId = 1;
    try
    {
        LangId = (HttpContextAccessor.HttpContext.Session.Get("LanguageId") == null ? default(long) :
        JsonSerializer.Deserialize<long>(HttpContextAccessor.HttpContext.Session.Get("LanguageId")));
        if (LangId == null || LangId == 0)
        {
            dstweb.Common.SessionWrapper.Set<long>(HttpContextAccessor.HttpContext.Session, "LanguageId", 1);
            LangId = 1;
        }
    }
    catch
    {
    }
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5">
    <meta name="description" content="Agriculture">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @* <title>Directorate of Information</title> *@
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="@Href("~/ui/images/fav.png")" type="image/x-icon">

    <style>
        .newmodaldata .btn-close {
            background: url('@Href("~/Admin/images/close.png")');
        }
    </style>

    <!-- Font Icons css -->
    <link rel="shortcut icon" href="@Href("~/Users/images/fav.png")">
    <link rel="stylesheet" type="text/css" href="@Href("~/Users/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Href("~/Users/css/animate.css")">
    @*<link rel="stylesheet" type="text/css" href="@Href("~/Users/css/slick.css")">
    <link rel="stylesheet" type="text/css" href="@Href("~/Users/css/slick-theme.css")">*@
    <link rel="stylesheet" type="text/css" href="@Href("~/Users/css/font-awesome.css")">
    <link rel="stylesheet" type="text/css" href="@Href("~/Users/css/themify-icons.css")">
    <link rel="stylesheet" type="text/css" href="@Href("~/Users/css/flaticon.css")">
    <link rel="stylesheet" type="text/css" href="@Href("~/Users/css/owl.carousel.min.css")">
    <link rel="stylesheet" type="text/css" href="@Href("~/Users/revolution/css/rs6.css")">
    <link rel="stylesheet" type="text/css" href="@Href("~/Users/css/jquery.fancybox.min.css")">
    <link rel="stylesheet" type="text/css" href="@Href("~/Admin/vendors/css/sweetalert2.min.css?dt="+DateTime.Now.ToString("ddMMyyyyfffttfff"))">
    @{
        var getAllCssData = Functions.CSSMasterDomain(Url);
        if (!string.IsNullOrWhiteSpace(getAllCssData))
        {
            @Html.Raw(getAllCssData)
        }
    } 
    <script>
        var baseUrl = "@Url.Content("~/")";
    </script>

</head>

<body>

    <!--page start-->
    <div class="page">

        <!-- preloader start -->
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- preloader end -->

        <!--header start-->
        <header id="masthead" class="header ttm-header-style-01">
            <div class="ttm-header-wrap">
                <div id="ttm-stickable-header-w" class="ttm-stickable-header-w clearfix">
                    <div class="ttm-topbar-wrapper clearfix">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ttm-topbar-content">
                                        <ul class="top-contact">
                                            <li>
                                                <div class="cont-con">
                                                    <a href="@Href("~/Home/ScreenReaderAccess")" id="ScreenReader">
                                                        <i class="fa-solid fa-desktop"></i>Screen Reader
                                                        Access
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cont-con">
                                                    <a href="#skipdata" href="#maincontent" id="Skiptomain">
                                                        <i class="fa fa-forward"></i>
                                                        Skip to main Content
                                                    </a>
                                                </div>
                                            </li>
                                            <li id="dvHeadermenu">

                                            </li>
                                            <li>
                                                <div class="ltn__social-media_size">
                                                    <ul class="links clearfix">
                                                        <li>
                                                            <a href="#" class="theme-icon" id="dark-theme">
                                                                <i class="fas fa-moon"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="theme-icon" id="light-theme">
                                                                <i class="fas fa-sun"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="ltn__social-media_font">
                                                    <ul class="links clearfix">
                                                        <li>
                                                            <a href="#" id="btn-decrease" class="fonts_img ">A-</a>
                                                        </li>
                                                        <li><a href="#" id="btn-orig" class="fonts_img ">A</a></li>
                                                        <li>
                                                            <a href="#" id="btn-increase" class="fonts_img ">A+</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="side-nav">
                                                    <div class="dropdown nav-flag-dropdown">
                                                        <select class="goog-te-combo" id="langId" name="langId">
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.AntiForgeryToken()
                    <input id="lgLanguageId" value="@LangId" type="hidden" />
                    <div class="ttm-widget_header">
                        <div class="container-fluid" id="Dvmainlogo">
                                <!-- mainlogo start -->
                                <!-- mainlogo end -->
                        </div>
                    </div>
                    <div id="site-header-menu" class="site-header-menu">
                        <div class="site-header-menu-inner ttm-stickable-header">
                            <div class="container-fluid">
                                <div id="site-navigation" class="site-navigation">
                                    <div class="ttm-header-icons ">
                                        <div class="ttm-header-icon ttm-header-search-link">
                                        </div>
                                    </div>
                                    <div class="ttm-menu-toggle">
                                        <input type="checkbox" id="menu-toggle-form">
                                        <label for="menu-toggle-form" class="ttm-menu-toggle-block">
                                            <span class="toggle-block toggle-blocks-1"></span>
                                            <span class="toggle-block toggle-blocks-2"></span>
                                            <span class="toggle-block toggle-blocks-3"></span>
                                        </label>
                                    </div>
                                    <nav id="menu" class="menu">
                                        <ul class="dropdown">
                                            @{
                                                var stringData = Functions.CreateMainUserLayoutMenu(Url, Context.Request.Path.Value.ToString(), LangId);
                                                if (!string.IsNullOrWhiteSpace(stringData))
                                                {
                                                    @Html.Raw(stringData)
                                                }
                                            }
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--header end-->
        
        <iframe id="printFrame" style="display: none;"></iframe>

        @RenderBody()
        <!--footer start-->
        <footer class="footer widget-footer clearfix">
            <div class="second-footer ttm-textcolor-white">
                <div class="container" id="dvFooter">
                </div>
            </div>
            <div class="bottom-footer-text ttm-textcolor-white">
                <div class="container-fluid">
                    <div class="row copyright">
                        <div class="col-md-4">
                            <div class="text-left">
                                <span>Copyright © 2023 &nbsp;<a href="#">Directorate Of Information</a> </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-cont footer-logo text-center">
                                <span>
                                    @{
                                        var UpdateDate = Functions.UpdateDate();
                                        if (!string.IsNullOrWhiteSpace(UpdateDate))
                                        {
                                            @Html.Raw(UpdateDate)
                                        }
                                    }
                                </span>
                                <span> Total Visitors :&nbsp;<label id="CounterVisitor"></label></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-md-right">
                                <span>Design & Developed By &nbsp;<a href="#">Gujarat Informatics Limited</a> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer end-->

        <!--back-to-top start-->
        <a id="totop" href="#top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!--back-to-top end-->

    </div><!-- page end -->
    <!-- Javascript -->

    <script src="@Href("~/Users/js/jquery.js")"></script>
    <script src="@Href("~/Users/js/tether.min.js")"></script>
    <script src="@Href("~/Users/js/bootstrap.min.js")"></script>
    <script src="@Href("~/Users/js/owl.carousel.min.js")"></script>
    <script src="@Href("~/Users/js/jquery.easing.js")"></script>
    @*<script src="@Href("~/Users/js/jquery-waypoints.js")"></script>
    <script src="@Href("~/Users/js/jquery.counterup.min.js")"></script>
    <script src="@Href("~/Users/js/slick.js")"></script>
    <script src="@Href("~/Users/js/slick.min.js")"></script>*@
    <script src="@Href("~/Users/js/jquery.fancybox.min.js")"></script>
    <script src="@Href("~/Users/js/main.js")"></script>
    <script src="@Href("~/Users/js/themejs.js")"></script>
    <script src="@Href("~/Admin/js/Secure/aes.js")"></script>
    <script src="@Href("~/Admin/js/Secure/hash.js")"></script>
    <!-- Revolution Slider -->
    @* <script src="@Href("~/Users/revolution/js/slider.js")"></script> *@
    <script src="@Href("~/Users/revolution/js/revolution.tools.min.js")"></script>
    <script src="@Href("~/Users/revolution/js/rs6.min.js")"></script>
    <script src="@Href("~/Admin/js/Common.js?dt="+@DateTime.Now.ToString("ddMMyyyyfffttfff"))"></script>
    <script src="@Href("~/Users/js/PageDetails/MainLayoutModule.js")"></script>
    <script src="@Href("~/Admin/vendors/js/sweetalert2.min.js?dt="+DateTime.Now.ToString("ddMMyyyyfffttfff"))"></script>

    <script>
        var regexGlobalValidation = new RegExp(htmlDecode("@Functions.regGlobalValidation"));
        var regexName = new RegExp(htmlDecode("@Functions.regName"));
        var regexMobileNo = new RegExp(htmlDecode("@Functions.regMobileNo"));
        var regexPincode = new RegExp(htmlDecode("@Functions.regPincode"));
        var regexNumber = new RegExp(htmlDecode("@Functions.regNumber"));
        var regexEmail = new RegExp(htmlDecode("@Functions.regEmail"));
        var regexPassword = new RegExp(htmlDecode("@Functions.regPassword"));
        var regexURL = new RegExp(htmlDecode("@Functions.regURL"));
        var dateFormat = '@Functions.dateFormat';
        var allowModalOutsideClick = @Functions.allowModalOutsideClick.ToString().ToLower();
        var allowKeyboardInputOnTime = @Functions.allowKeyboardInputOnTime.ToString().ToLower();
        var allowKeyboardInputOnDate = @Functions.allowKeyboardInputOnDate.ToString().ToLower();
        var allowInspectElement = @Functions.allowInspectElement.ToString().ToLower();

    </script>

    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        function GetSearch() {
            var serchtext = $('#txtGlobalSearch').val();
            window.location.replace(ResolveUrl("/Search?serch=" + serchtext));
        }
    </script>

</body>

</html>