@model LoginViewModel
@{
    Layout = "";
    @removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.FormTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers
}
<!DOCTYPE html>
<html lang="en" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Convex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Convex admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Narmada Water Resource, Water Supply and Kalpsar Department</title>

    <link rel="apple-touch-icon" sizes="60x60" href="@Href("~/Admin/img/ico/apple-icon-60.html")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Href("~/Admin/img/ico/apple-icon-76.html")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Href("~/Admin/img/ico/apple-icon-120.html")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Href("~/Admin/img/ico/apple-icon-152.html")">
    @*<link rel="shortcut icon" type="image/x-icon" href="@Href("https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-~/Users/img/ico/favicon.ico")">
    <link rel="shortcut icon" type="image/png" href="@Href("~/Admin/img/ico/favicon-32.png")">*@
    <link rel="icon" href="@Href("~/ui/images/favicon.png")" type="image/x-icon">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="@Href("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900")" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Href("~/Admin/fonts/feather/style.min.css")">
    <link rel="stylesheet" type="text/css" href="@Href("~/Admin/fonts/simple-line-icons/style.css")">
    <link rel="stylesheet" type="text/css" href="@Href("~/Admin/fonts/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" type="text/css" href="@Href("~/Admin/vendors/css/perfect-scrollbar.min.css")">
    <link rel="stylesheet" type="text/css" href="@Href("~/Admin/vendors/css/prism.min.css")">
    <link rel="stylesheet" type="text/css" href="@Href("~/Admin/vendors/css/sweetalert2.min.css")">
    <link rel="stylesheet" type="text/css" href="@Href("~/Admin/css/app.css")">

</head>
<body data-col="1-column" class=" 1-column  blank-page blank-page">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">
        <!--Login Page Starts-->
        <section id="login">
            <div class="container-fluid">
                <div class="row full-height-vh">
                    <div class="col-12 d-flex align-items-center justify-content-center gradient-aqua-marine">
                        <div class="card px-4 py-2 box-shadow-2 width-400">
                            <div class="card-header text-center">
                                <img src="@Href("~/ui/images/logonarmada.png")" alt="company-logo" class="mb-3" width="120">
                                <h4 class="text-uppercase text-bold-400 grey darken-1">Login</h4>
                            </div>
                            <div class="card-body">
                                <div class="card-block">
                                   <form method="post" asp-controller="Account" asp-action="Index" id="loginForm" autocomplete="off">


                                        <div class="row" style="margin:0;">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" class="form-control" asp-for="hfCaptcha">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control form-control-lg" asp-for="Username" placeholder="Email Address" autocomplete="off">
                                                    <span asp-validation-for="Username"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="password" class="form-control form-control-lg" asp-for="Password" placeholder="Password" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="margin:0;">
                                            <div class="form-group ">
                                                <div class="col-md-6">
                                                    <img id="imgCapcha" />
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-md-6">
                                                    <button type="button" value="Login" class="btn btn-danger px-4 py-2 text-uppercase white font-small-4 box-shadow-2 border-0" onclick="return resetCaptchaImage();"><i class="fa fa-refresh"></i></button>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control form-control-lg" asp-for="Captcha" placeholder="Captcha" maxlength="6">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="text-center col-md-12">
                                                @*<a class="btn btn-danger px-4 py-2 text-uppercase white font-small-4 box-shadow-2 border-0" OnClientClick="return SubmitsEncry();">Submit</a>*@
                                                <button type="button" value="Login" class="btn btn-danger px-4 py-2 text-uppercase white font-small-4 box-shadow-2 border-0" onclick="return SubmitsEncry();">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                          @*  <div class="card-footer grey darken-1">
                                <div class="text-center mb-1"><a href="@Href("~/Account/ForgetPassword")"><b>Forgot Password? </b></a></div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Login Page Ends-->
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- BEGIN VENDOR JS-->
    <script src="@Href("~/Admin/vendors/js/core/jquery.min.js")"></script>
    <script src="@Href("~/Admin/vendors/js/core/popper.min.js")"></script>
    <script src="@Href("~/Admin/vendors/js/core/bootstrap.min.js")"></script>
    <script src="@Href("~/Admin/vendors/js/perfect-scrollbar.jquery.min.js")"></script>
    <script src="@Href("~/Admin/vendors/js/prism.min.js")"></script>
    <script src="@Href("~/Admin/vendors/js/jquery.matchHeight-min.js")"></script>
    <script src="@Href("~/Admin/vendors/js/screenfull.min.js")"></script>
    <script src="@Href("~/Admin/vendors/js/pace/pace.min.js")"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="@Href("~/Admin/vendors/js/sweetalert2.min.js")"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN CONVEX JS-->
    <script src="@Href("~/Admin/js/app-sidebar.js")"></script>
    <script src="@Href("~/Admin/js/notification-sidebar.js")"></script>
    <!-- END CONVEX JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="@Href("~/Admin/js/Secure/aes.js")"></script>
    <script src="@Href("~/Admin/js/Secure/hash.js")"></script>
    <script src="@Href("~/Admin/js/Common.js")"></script>
    <script>
     var baseUrl = "@Url.Content("~/")";
    </script>
     <script>
     $(document).ready(function () {
            resetCaptchaImage();
        });
     </script>
    <script>

        function SubmitsEncry() {
            var txtUserName = document.getElementById("Username").value.trim();
            var txtpassword = document.getElementById("Password").value.trim();
            var txtCaptcha = document.getElementById("Captcha").value.trim();
            if (txtUserName == "") {
                resetCaptchaImage();
                ShowMessage('Please enter UserName',"","error");
                return false;
            }
            else if (txtpassword == "") {
                resetCaptchaImage();
                ShowMessage('Please enter Password',"","error");
                return false;
            }
            else if (txtCaptcha == "") {
                resetCaptchaImage();
                ShowMessage('Please enter Captcha',"","error");
                return false;
            }
            else {
                txtUserName.value = FrontEncryptFront("Username");
                //txtpassword.value = FrontEncryptFront("Password");


                  $('#Password').val(FrontValue($('#Password').val() +"exegil"+ $('#Captcha').val()));

                $('form#loginForm').submit();

                return true;
            }
        }

        // function resetCaptchaImage() {
        //     d = new Date();
        //     $("#imgCapcha").attr("src", "@Href("~/get-captcha-image")?" + d.getTime());
        //      $('#Captcha').val('')
        // }

        function resetCaptchaImage() {
            var fdhfCaptcha = document.getElementById("hfCaptcha");
            var token = $('input[name="AntiforgeryFieldname"]').val();
            $.ajax({
                destroy: true,
                type: "get",
                contentType: "application/x-www-form-urlencoded",
                url: ResolveUrl("/GetCaptchaDetails?strLast=" + document.getElementById("hfCaptcha").value),
                success: function (data) {                  
                    var maindata = data.result;
                    if (!data.isError) {
                        // Define the string, also meaning that you need to know the file extension
                        var encoded = maindata.fileSRC;
                        var hfCaptcha = maindata.captchaval;
                        //ClearForm();
                        // and then to display the image
                        var img = document.getElementById("imgCapcha");                        
                        fdhfCaptcha.value = hfCaptcha;
 
                        // alternatively, you can do this
                        img.src = "data:image/png;base64, " + encoded;
                    }
                    else {
                        ShowMessage(data.strMessage, "", data.type);
                    }
                }
            });
        }

    </script>
    <script>

   @try
        {
            @if (ViewBag.MyScriptToRun != null)
            {
                @if (!string.IsNullOrWhiteSpace(ViewBag.MyScriptToRun.ToString()))
                {
                    @Html.Raw(ViewBag.MyScriptToRun.ToString())
                }
            }
        }catch(Exception)
        {
        }

    </script>
    <!-- END PAGE LEVEL JS-->
</body>
</html>
